.Button-container button {
  padding: 10px;
  width: 100px;
  font-size: 13px;
  font-weight: bold;
  font-family: sans-serif, monospace;
  border-radius: 5px;
  transition: all 0.6s;
  border: none;
}
.Button-container button:hover {
  background-color: #cacaca;
}
.Button-container button:active {
  opacity: 0.8;
  transition: all 0.6s;
}
