.UserInput-container form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.input-container input {
  padding: 10px;
  width: 500px;
  border: none;
  border: 2px solid #ffffff;
  background-color: transparent;
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-size: 18px;
  font-weight: normal;
  color: white;
  border-radius: 5px;
}
.input-container input:focus {
  outline: none;
}
::placeholder {
  color: white;
  opacity: 1;
}
.input-container.invalid input {
  border: 3px solid red;
  animation: shake 0.3s ease-out;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
