.UserInput-container form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.input-container input {
  padding: 10px;
  width: 500px;
  border: none;
  border: 2px solid #ffffff;
  background-color: transparent;
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-size: 18px;
  font-weight: normal;
  color: white;
  border-radius: 5px;
}
.input-container input:focus {
  outline: none;
}
